<ion-content [fullscreen]="true" class="login ion-padding">
  <ion-row class="row-styles">
    <ion-col>
      <img class="icon-styles" src="../../../../assets/icon/fesc-icon.png" />
    </ion-col>
  </ion-row>

  <ion-row class="ion-text-center mt-16">
    <ion-col>
      <h1 class="font-family title-styles">Iniciar sesión</h1>
    </ion-col>
  </ion-row>

  <ion-row class="ion-text-center row-sub">
    <ion-col>
      <div class="contenedor-sub">
        <ion-label class="font-family label-sub"
          >Bienvenido, ingresa tus credenciales para ingresar.
          nuevamente</ion-label
        >
      </div>
    </ion-col>
  </ion-row>

  <ion-row class="input-container ion-justify-content-center">
    <ion-col class="col-image" size="4">
      <img class="image-size" src="../../../../assets/icon/mail.png" />
    </ion-col>
    <ion-col size="8">
      <ion-input placeholder="correo@gmail.com"> </ion-input>
    </ion-col>
  </ion-row>

  <ion-row class="input-container-password ion-justify-content-center">
    <ion-col class="col-image" size="4">
      <img class="image-size" src="../../../../assets/icon/password.png" />
    </ion-col>
    <ion-col size="8">
      <ion-input placeholder="********"> </ion-input>
    </ion-col>
  </ion-row>

  <ion-row class="ion-text-center row-button-login">
    <ion-col>
      <button class="button-login" (click)="redirectToDashboard()">Continuar</button>
    </ion-col>
  </ion-row>

  <ion-row class="row-access">
    <ion-col class="ion-text-center">
      <button class="button-account-google">
        <img
          class="icon-account-styles"
          src="../../../../assets/icon/google-icon.png"
        />
      </button>
    </ion-col>
    <ion-col class="ion-text-center">
      <button class="button-account">
        <img
          class="icon-account-styles"
          src="../../../../assets/icon/git-icon.png"
        />
      </button>
    </ion-col>
  </ion-row>

  <ion-row class="ion-text-center row-forgot">
    <ion-col>
      <a class="forgot-text underline text-blue-500"
        >¿Olvidaste tu contraseña?</a
      >
    </ion-col>
  </ion-row>

  <ion-row class="ion-text-center row-new-account">
    <ion-col>
      <a
        (click)="redirectRegister()"
        class="forgot-text underline text-blue-500"
        >¿Aún no tienes una cuenta?</a
      >
    </ion-col>
  </ion-row>
</ion-content>
