.icon-styles {
  width: 80px;
}

.row-styles {
  margin-top: 15px;
  margin-left: 10px;
}

.row-title {
  justify-content: center;
  align-items: center;
}

.row-title {
  margin-top: 10px;
}

.row-sub {
  margin-top: 20px;
}

.font-family {
  font-family: Poppins-Bold;
}

.title-styles {
  color: #fc2f2f;
}

.label-sub {
  font-size: 15px;
}

.input-container {
  border-radius: 15px;
  margin-top: 50px;
  background: #fff8f8;
}

.input-container-password {
  border-radius: 15px;
  margin-top: 35px;
  background: #fff8f8;
}

.image-size {
  width: 25px;
}
.col-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row-forgot {
  margin-top: 30px;
}

.forgot-text {
  font-weight: bold;
}

.button-login {
  font-family: Poppins-bold;
  color: white;
  background-color: #fc2f2f;
  width: 200px;
  height: 50px;
  border-radius: 15px;
}

.row-button-login {
  margin-top: 25px;
}

.row-access {
  margin-top: 20px;
}
