<ul class="menu menu-lg bg-base-200 w-72 min-h-screen h-auto rounded-box overflow-y-auto">
    <li>
      <a routerLink=''>
        <i class="fa-solid fa-house"></i>
        Inicio
      </a>
    </li>
    <li>
      <details>
        <summary>
          <i class="fa-solid fa-rectangle-list"></i>
          Parametros
        </summary> 
        <ul>
          <li><a routerLink="/parameters/agencies">Agencias</a></li>
          <li><a>Aerolineas</a></li>
          <li><a>Empresas</a></li>
          <li><a routerLink='/parameters/countries'>Paises</a></li>
          <li><a routerLink='/parameters/states'>Departamentos/Estados</a></li>
          <li><a>Ciudades</a></li>
          <li><a>Huéspedes o Clientes</a></li>
          <li><a>Motivos de Cancelación</a></li>
          <li><a>Eventos del Hotel</a></li>
        </ul>
        <div class="divider"></div> 
        <ul>
          <li><a>Vuelos</a></li>
          <li><a>Contactos</a></li>
          <li><a>Consultas e Informes</a></li>
        </ul>
      </details>
    </li>
    <li>
      <details>
        <summary>
          <i class="fa-solid fa-book"></i>
          Reservas
        </summary> 
        <ul>
          <li><a>Reserva de Grupos</a></li>
        </ul>        
      </details>
    </li>
    <li>
      <a>
        <i class="fa-solid fa-chart-line"></i>
        Consultas e informes
      </a>
    </li>
    <li>
      <a routerLink='/login'>
        <i class="fa-solid fa-right-from-bracket"></i>
        Salir
      </a>
    </li>
  </ul>
