<div class="flex flex-col p-8">
    
    <p class="text-xl font-bold">Hoteles</p>

    <div class="divider"></div> 

    <div class="flex flex-row pb-4">
        <p class="text-xl">
            <i class="fa-regular fa-clock"></i>
            Recientes
        </p>
    </div>

    <div class="flex flex-row gap-8">
        <Ffr-workspacecard image="../../../assets/workspace-default.jpg" title="2024-I Hotel"></Ffr-workspacecard>
    </div>

    <div class="divider"></div> 
    
    <div class="flex flex-row pb-4">
        <p class="text-xl">
            <i class="fa-solid fa-hotel"></i>
            Todos
        </p>
    </div>
    
    <div class="flex flex-row flex-wrap gap-8">
        <Ffr-workspacecard image="../../../assets/workspace-default.jpg" title="2024-I Hotel"></Ffr-workspacecard>

        <Ffr-workspacecard image="../../../assets/workspace-default.jpg" title="Prueba 1"></Ffr-workspacecard>

        <Ffr-workspacecard image="../../../assets/workspace-default.jpg" title="Prueba 2"></Ffr-workspacecard>
    
        <Ffr-workspacecard image="../../../assets/workspace-default.jpg" title="Prueba 3"></Ffr-workspacecard>    
        
        <Ffr-workspacecard image="../../../assets/workspace-default.jpg" title="Prueba 4"></Ffr-workspacecard> 
    </div>

    
    <div class="divider"></div> 

</div>