
<Ffr-menu></Ffr-menu>

<div>
  aaa
</div>

<!--
<div class="grid grid-cols-4 gap-4 container mx-auto">
  <Ffr-card [image]="'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJg2-nANw-n-cYghDeqkLlU8l1877wjivpRBqFet0DDA&s'" [textButton]="'ingresar'" [title]="'prueba'" ></Ffr-card>
  <Ffr-card [image]="'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJg2-nANw-n-cYghDeqkLlU8l1877wjivpRBqFet0DDA&s'" [textButton]="'ingresar'" [title]="'prueba'" ></Ffr-card>
  <Ffr-card [image]="'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJg2-nANw-n-cYghDeqkLlU8l1877wjivpRBqFet0DDA&s'" [textButton]="'ingresar'" [title]="'prueba'" ></Ffr-card>
  <Ffr-card [image]="'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJg2-nANw-n-cYghDeqkLlU8l1877wjivpRBqFet0DDA&s'" [textButton]="'ingresar'" [title]="'prueba'" ></Ffr-card>
  <Ffr-card [image]="'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJg2-nANw-n-cYghDeqkLlU8l1877wjivpRBqFet0DDA&s'" [textButton]="'ingresar'" [title]="'prueba'" ></Ffr-card>
  <Ffr-card [image]="'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJg2-nANw-n-cYghDeqkLlU8l1877wjivpRBqFet0DDA&s'" [textButton]="'ingresar'" [title]="'prueba'" ></Ffr-card>
</div>
-->
