<div class="py-10 px-10">
  <h2 class="text-2xl font-semibold mb-2 text-center">Registro</h2>
  <form [formGroup]="form" (submit)="onSave($event, form)">

    <div class="form-control w-full mt-4">
      <label class="label">
        <span class="label-text font-bold text-base-content">Nombre Completo: *</span>
      </label>
      <input
        class="input input-bordered w-full bg-gray-50"
        placeholder="Ingrese su nombre completo"
        name="fullName"
        type="text"
        formControlName="fullName"
      />
      <span *ngIf="form.controls['fullName'].hasError('required') && form.touched"
                                    class="label-text-alt text-error">Nombre completo es requerido</span>
    </div>
 
    <div class="form-control w-full mt-4">
      <label class="label">
        <span class="label-text font-bold text-base-content">Correo Electrónico: *</span>
      </label>
      <input
        class="input input-bordered w-full bg-gray-50"
        placeholder="Ingrese su correo electrónico"
        name="email"
        type="email"
        formControlName="email"
      />
      <span *ngIf="form.controls['email'].hasError('required') && form.touched"
                                    class="label-text-alt text-error">Correo electrónico es requerido</span>
    </div>

    <div class="form-control w-full mt-4">
      <label class="label">
        <span class="label-text font-bold text-base-content">Número de Teléfono: *</span>
      </label>
      <input
        class="input input-bordered w-full bg-gray-50"
        placeholder="Ingrese su número de teléfono"
        name="phoneNumber"
        type="tel"
        formControlName="phone"
      />
      <span *ngIf="form.controls['phone'].hasError('required') && form.touched"
                                    class="label-text-alt text-error">Teléfono es requerido</span>
      <span *ngIf="form.controls['phone'].hasError('invalidPhone') && form.touched"
                                    class="label-text-alt text-error">Teléfono incorrecto</span>
    </div>

    <div class="form-control w-full mt-4">
      <label class="label">
        <span class="label-text font-bold text-base-content">Contraseña: *</span>
      </label>
      <input
        type="password"
        class="input input-bordered w-full bg-gray-50"
        placeholder="Ingrese su contraseña"
        name="password"
        autocomplete="password"
        formControlName="password"
      />
      <span *ngIf="form.controls['password'].hasError('required') && form.touched"
                                    class="label-text-alt text-error">Contraseña es requerida</span>
    </div>

    <div class="form-control w-full mt-4">
      <label class="label">
        <span class="label-text font-bold text-base-content">Confirmar Contraseña: *</span>
      </label>
      <input
        type="password"
        class="input input-bordered w-full bg-gray-50"
        placeholder="Ingrese nuevamente su contraseña"
        name="confirmPassword"
        autocomplete="confirm-password"
        formControlName="passwordconfirm"
      />
      <span *ngIf="form.controls['passwordconfirm'].hasError('required') && form.touched"
                                    class="label-text-alt text-error">Confirmar Contraseña es requerido</span>
      <span *ngIf="form.controls['passwordconfirm'].hasError('mismatch') && form.touched"
                                    class="label-text-alt text-error">Contraseña y firmar contraseña deben coincidir</span>

    </div>

    <button type="submit" class="btn mt-6 w-full btn-error text-bold" [disabled]="form.invalid">Registrarse</button>

  </form>
  <div class="text-left text-sm mt-2">
    ¿Ya tienes una cuenta?
    <a href="/login">
      <span class="text-sm text-error inline-block hover:text-primary hover:underline hover:cursor-pointer transition duration-200">
        Iniciar Sesión
      </span>
    </a>
  </div>
</div>
